@{
    ViewBag.Title = "Contact";
}
<h1>Contact Us</h1>
<h2>General Contact Information</h2>

<address>
    PRIMARY ADDRESS<br />
    Contoso University<br />
    2200 Ocean View Drive<br />
    Traverse City, MI 49696<br />
</address>
<address>
    TELEPHONE<br />
    Campus operator<br />
    231-555-2300<br />
</address>
<p>
    Please note: University departments and offices have unique mailing addresses
    and phone numbers. Please consult the campus directory or departmental websites for more information.
</p>